<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Binge Movies</span>
    <div class="spacer"></div>
    <a class="ugc-link" aria-label="UCG" target="_blank" rel="noopener" href="https://ugc.fr/" title="UGC">
      <svg class="ugc" xmlns="http://www.w3.org/2000/svg" viewBox="0 80 350 350" width="70" height="40">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M292.3,217.2c14.9-25.5,42.1-40.9,72.4-40.9c27,0,52.3,12.7,68,34.2l28.7-16c-21.6-31.9-57.8-51.4-96.7-51.4   c-48.3,0-90.9,29.1-108.6,74.1l0.1,0H292.3z"/>
          <path class="st0" d="M52.6,259.6c0,46.1-32.1,83.6-71.5,83.6c-39.4,0-71.5-37.5-71.5-83.6V159.4h-33.2v100.2   c0,64.5,47,116.9,104.7,116.9c57.7,0,104.7-52.4,104.7-116.9v-16.2H52.6V259.6z"/>
          <path class="st0" d="M163.8,176.3c23.3,0,46.7,7.4,66.7,29.3c2.7-8,10.5-21.4,16.2-28.4c-22.5-22.5-53.7-34.1-82.8-34.1   c-48.2,0-91.1,29.9-108.5,74h33.5C106.7,192.4,128.8,176.3,163.8,176.3"/>
          <path class="st0" d="M163.9,243.4v32.7h81.4c-6.3,38.6-40.9,67.1-81.4,67.1c-20.4,0-43.2-8.2-58.9-24c-2.1,7.6-10.4,21.9-17.6,28.2   c20.2,18.9,50.8,29.1,76.6,29.1c58.4,0,107.7-44.2,115.5-100.4c1.9-13.9,1.3-32.7,1.3-32.7H163.9z"/>
          <path class="st0" d="M364.7,343.2c-20.9,0-46.3-8.9-64.4-27.9c-3.2,7.9-11.6,22.6-17.3,28.4c25.7,22.4,52.8,32.8,81.7,32.8   c38.8,0,75-19.2,96.8-51.4l-27.1-18.3C418.7,330,392.6,343.2,364.7,343.2"/>
        </g>
      </svg>
    </a>
</div>

<div class="content" role="main">

  <app-movies></app-movies>

</div>

  <!-- Footer -->
  <footer>
    Conçu par&nbsp;
    <a href="https://github.com/KtourzaJeremy/binge-movies" target="_blank" rel="noopener"> Jérémy Ktourza
      <div class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
        Star
      </div>
    </a>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </a>
</footer>