

.listOfSeances-test {
    background-color: lightblue;
    margin: 10px;
    padding: 20px;
}

.listOfSeances {
    background-color: lightpink;
    margin: 10px;
}

.list {
    margin: 20px;
}

.bingeList {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
}

.bingeProp {
    display: inline-flex;
    row-gap: 10px;
    column-gap: 10px;
    width: 50%;
}

.bingeCase {
    display: flex;
    flex-direction: column;
    align-items: center;
}