<div class="listOfSeances">
    <button (click)="show = !show"> <h2>Je veux voir {{nbMovie}} films à la suite ({{listOfSeances.length}} propositions) <i class="arrow {{show ? 'up' : 'down'}}"></i></h2></button>
    <div class="hideBlock" *ngIf="show">
        <div class="list" *ngFor="let list of listOfSeances; let i = index">
            <div class="bingeSeance" *ngFor="let seance of list.seances; let j = index">
                <p class="nom">{{seance.name}}</p>
                <div class="bingeDate">
                    <app-bloc-date [begin]="seance.begining" [end_d]="seance.ending"></app-bloc-date>
                </div>
            </div>
            <div class="bingeDuree">
                <div class="dureeTotale">
                    <p class="labelTot">Attente cumulée</p>
                    <p class="duree">{{attenteTotaleDuree(list)}}</p>
                </div>
                <div class="dureeTotale">
                    <p class="labelTot">Journée complète</p>
                    <p class="duree">{{dureeTotaleJournee(list)}}</p>
                </div>
            </div>
        </div>
    </div>
</div>