/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--color-bg-primary); }

:root {
    color-scheme: dark;
    --color-bg-primary-old: #d0d6df;
    --color-bg-primary: #1c222f;
    --color-bg-primary-offset: #f1f3f7;
    --color-bg-card: #283144;
    --color-bg-white: #fff;
    --color-bg-active: #d2e3fc;
    --color-bg-focus: #e8f0fe;
    --color-text-primary: #3a3c42;
    --color-text-primary-offset: #898c94;
    --color-orange: #FF6347;
    --color-green: #228B22;
    --color-purple: #682ba1;
    --color-purple-light: #9047d4;
    --color-black: #000;

    --color-border: #9393a3;
    --color-border-hover: #676774;
  
    /*--color-red: #d92027;*/
    --color-red: #f73434;
    --color-red-hover: #df2e2e;
    --color-red-active: #ce2929;
    --color-blue: #3498db;
    --color-blue-hover: #2c8bca;
    --color-blue-active: #276ab6;
    --color-green: #34db58;
    --color-green-hover: #2dc93a;
    --color-green-active: #29b935;

    --border-radius: 5px;
}

:host {
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    */font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 5px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

input {
    border: var(--color-border) solid 1px;
    border-radius: var(--border-radius);
}

input:hover {
    border-color: var(--color-border-hover);
}

.duree {
    font-size: small;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-variant: small-caps tabular-nums;
    letter-spacing: 1px;
}

.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.content {
    padding: 1.875rem!important;
}

.carte-illimitee {
    border: solid white 1.5px;
    border-radius: 0.5rem;
    padding: 0.2rem 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte-illimitee > .cinepass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 55px;
}

.cinepass span {
    color: white;
    @import url('https://fonts.googleapis.com/css?family=Barlow');
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    line-height: 0.9;
}

.toolbar {
    position: relative;
    padding-top: 0.25rem;
    padding-bottom: 0.2rem;
    height: 3.875rem;
    flex-wrap: nowrap;
    z-index: 2;
    background-color: #283144 !important;
    box-shadow: 0 1px 0 #36445d !important;
    color: #d8deea !important;
}

.navbar-brand {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    Right: 0;

    justify-content:left!important;

    box-shadow: 6px 4px 30px 0 rgba(0, 0, 0, 0.22);
    background-color: #1c222f !important;
    color: #a1b0cb;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*
.card {
    --card-spacer-y: 1.375rem;
    --card-spacer-x: 1.375rem;
    --card-title-spacer-y: 1.375rem;
    --card-title-color: #d8deea;
    --card-border-width: 0;
    --card-border-color: #36445d;
    --card-border-radius: 0.3125rem;
    --card-box-shadow: 0 0.125rem 0.875rem 0 rgba(0, 0, 0, 0.16);
    --card-inner-border-radius: 0.3125rem;
    --card-cap-padding-y: 1.375rem;
    --card-cap-padding-x: 1.375rem;
    --card-cap-bg: transparent;
    --card-bg: #283144;
    --card-img-overlay-padding: 1.5rem;
    --card-group-margin: 0.8125rem;
    color: var(--bs-body-color);
    word-wrap: break-word;
}*/